<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="UserServiceDemo.UserService">
        <endpoint address="http://localhost:8732/UserService"
              binding="webHttpBinding"
              contract="UserServiceDemo.IUserService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SQLServerAddress" value="localhost\SQLEXPRESS"/>
    <add key="SQLDatabaseName" value="UserServiceDemo"/>
    <add key="SQLUserName" value="SvcDemoUser" />
    <add key ="SQLPassword" value="@App123$"/>
  </appSettings>
</configuration>